<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@{
  

    @foreach (Dictionary<string, string> job in ViewBag.jobs)
    {
        <table class="job-listing">
            @foreach (KeyValuePair<string, string> jobData in job)
            {
                <tr>
                    <th>@jobData.Key</th>
                    <td>@jobData.Value</td>
                </tr>


            }
        </table>
    }
}